if ! pyenv version > /dev/null; then
    echo -e "\nPython $(cat .python-version) not found. Installing now. This may take a while..."
    pyenv install $(cat .python-version) > /dev/null
else
    echo -e "\nPython $(cat .python-version) found."
fi

if [ ! -d venv ]; then
    echo -e "\nPython virtual environment not found. Creating now."
    python -m venv venv
else
    echo -e "\nPython virtual environment found."
fi

echo -e "\nActivating python virtual environment."
source venv/bin/activate

echo -e "\nEnsuring pip is updated. This may take a while..."
pip install --upgrade pip > /dev/null

echo -e "\nEnsuring python dependencies are installed. This may take a while..."
pip install -r requirements.txt > /dev/null

echo -e "\nAdding project root to \$PYTHONPATH.\n"
export PYTHONPATH=$PYTHONPATH:$(pwd)

unset PS1
