# Python virtual environment
venv/

# IDE configs
.vscode

# Python cache files
__pycache__
*.pyc

# Other
data/external/*.bin
data/external/*.json
data/external/*.csv

data/external-transformed/*.json
data/external-transformed/*.jsonl

data/experimental/*.json

data/*/embeddings/*.jsonl
data/*/similarities/*.jsonl

pretrained_models/
